// Colors
$color-black: #0c090e;
$color-yellow: #fee97d;
$color-white: #ffffff;
$color-background: #9e13e0;
$color-dark-background: #14091a;

// Font families
$font-body: 'Stolzl', sans-serif;
$font-heading: 'Halvar', sans-serif;
