.tab {
  font-family: $font-heading;
  padding: 33px 57px;
  padding: clamp(20px, 2.3vw, 33px) clamp(20px, 4vw, 57px);
  border-radius: 100px;
  border: 3px solid $color-yellow;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 40px;
  color: $color-yellow;
  font-size: clamp(20px, 2.3vw, 33px);
  line-height: 24px;
  font-weight: 700;
  color: $color-yellow;
  cursor: pointer;
  svg {
    path {
      transition: fill 0.2s;
      fill: $color-yellow;
    }
  }
  transition:
    color 0.2s,
    background-color 0.2s,
    border-color 0.2s;
  &:hover,
  &_active {
    color: #0c090e;
    border-color: #0c090e;
    background-color: $color-yellow;
    svg {
      path {
        fill: #0c090e;
      }
    }
  }

  @include desktop-md {
    gap: 12px;
    svg {
      width: 30px;
      height: auto;
    }
  }

  @include tablet {
    padding: 18px 36px;
  }
}
